$bckgrnd-clr: #FCF7E6;
$navmenu-bckgrnd-clr: #9D7818;
$footer-bckgrnd-clr: #333333;

$max-content-width: 1440px;
$block-item-margin: 82px;
$portrait-padding: 22px;
$contents-padding: 313px;
$contents-cols-margin: 14px;
$article-margin: 58px;
$navmenu-margin: 62px;
$navitem-margin: 10px;
$sponsor-margin: 40px;

@font-face {
  font-family: "SchoolBook";
  src: url("fonts/Schoolbook Regular.ttf");
}

* {
  font-family: "SchoolBook", serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bckgrnd-clr;
}

.cover {
  width: 100%;
  height: 100vh;
  min-height: 400px;

  background-image: url("../img/monogram.svg"), url("../img/leather_bg.png");
  background-position: center, top;
  background-size: auto, cover;
  background-repeat: no-repeat, repeat-y;
  background-attachment: scroll, fixed;
}

.content {
  margin: 0 auto;
  padding-bottom: 100px;
  max-width: $max-content-width;
}

.block-wrapper {
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 1s;

  * {
    margin-top: $block-item-margin/2;
    margin-bottom: $block-item-margin/2;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.block-visible {
  opacity: 1;
}

.title-block {
  min-height: 500px;
}

.vector-title {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  img {
    visibility: hidden;
  }
}

.preview-block {
  min-height: 1300px;
}

.portrait-wrapper {
  display: inline-block;
  padding: $portrait-padding;
  background-image: url("../img/portrait-border.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.preview-text {
  margin: 0;
  padding: 0 275px;

  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;

  text-align: justify;
  letter-spacing: 0.06em;

  color: #333333;
}

.contents-block {
  min-height: 600px;
}

.contents-table {
  margin: 0 auto;

  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 45px;

  letter-spacing: 0.06em;
}

.contents-item {

  td:first-child {
    width: 46px;
    text-align: center;
    padding-right: $contents-cols-margin;
  }

  td:last-child {
    padding-left: $contents-cols-margin;
  }

  .separator {
    width: 50px;
    background-image: url("../img/contents-line.svg");
    background-size: contain;
    background-position: 0 70%;
    background-repeat: no-repeat;
  }
}

.contents-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.article {

  padding: 100px 128px 0 128px;

  display: flex;
  flex-direction: column;

  .article-item,
  .article-two-items {
    margin: $article-margin/2 0;
  }

  .article-item:first-child,
  .article-two-items:first-child {
    margin: 0 auto $article-margin/2 auto;
  }

  .article-item:last-child,
  .article-two-items:last-child {
    margin: $article-margin/2 auto 0 auto;
  }
}

.primary-text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  text-align: justify;
  letter-spacing: 0.06em;
}

%vector-first-letter {
  font-size: 180px;
  line-height: 100px;
  color: rgba(0, 0, 0, 0);

  padding: 0;
  margin: 10px 0 -10px -10px;
  float: left;

  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

#letter-1:first-letter {
  @extend %vector-first-letter;
  background-image: url("../img/vector-letter-1.svg");
}

.article-two-items {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  .flex-1:first-child,
  flex-2:first-child {
    margin-right: 50px;
  }

  .flex-1:last-child,
  flex-2:last-child {
    margin-left: 50px;
  }
}

.flex-2 {
  flex: 2;
}

.flex-1 {
  flex: 1;
}

.focused-text {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  text-align: justify;
  letter-spacing: 0.06em;
}

.article-image {
  width: 100%;
  height: auto;
}

.navmenu-wrapper {
  width: 100%;
  max-width: $max-content-width;
}

.navmenu {
  margin: 0 auto;
  min-height: 400px;

  color: white;
  background-color: $navmenu-bckgrnd-clr;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .navmenu-item {
    margin: $navmenu-margin/2 0;
  }

  .navmenu-item:first-child {
    margin-top: 0;
  }

  .navmenu-item:last-child {
    margin-bottom: 0;
  }

}

.navitems {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.06em;

  .navitem-separator {
    width: 50px;
    height: 5px;
    background-image: url("../img/navitem-separator.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .navitem {
    margin: 0 $navitem-margin/2;
    color: white;
  }

  .navitem:first-child {
    margin-left: 0;
  }

  .navitem:last-child {
    display: inline-block;
    margin-right: 0;
  }
}

.footer-wrapper {
  background-color: $footer-bckgrnd-clr;
}

footer {
  padding: 100px 150px;
  margin: 0 auto;
  min-height: 400px;
  max-width: $max-content-width;

  color: white;
}

.footer-row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.sponsor {
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
}

.primary-sponsor {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.footer-text {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.06em;
}

.sponsor-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
}

.sponsor-link {
  margin: $sponsor-margin/2;
}

.sponsor-link:first-child {
  margin-left: 0;
}

.sponsor-link:last-child {
  margin-right: 0;
}

#psb {
  margin: -50px 0;
}