$bckgrnd-clr: #FCF7E6;
$max-content-width: 1440px;
$block-item-margin: 82px;
$portrait-padding: 26px;
$contents-padding: 313px;
$contents-cols-margin: 14px;
$article-margin: 58px;

@font-face {
  font-family: "SchoolBook";
  src: url("fonts/Schoolbook Regular.ttf");
}

* {
  font-family: "SchoolBook", serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bckgrnd-clr;
}

.cover {
  width: 100%;
  height: 100vh;
  min-height: 400px;

  background-image: url("../img/monogram.svg"), url("../img/leather_bg.png");
  background-position: center, top;
  background-size: auto, cover;
  background-repeat: no-repeat, repeat-y;
}

.content {
  margin: 0 auto;
  max-width: $max-content-width;
}

.block-wrapper {
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 1s;

  * {
    margin-top: $block-item-margin/2;
    margin-bottom: $block-item-margin/2;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.block-visible {
  opacity: 1;
}

.title-block {
  min-height: 500px;
}

.vector-title {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  img {
    visibility: hidden;
  }
}

.preview-block {
  min-height: 1300px;
}

.portrait-wrapper {
  padding: $portrait-padding;
  background-image: url("../img/portrait-border.svg");
}

.preview-text {
  margin: 0;
  padding: 0 275px;

  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;

  text-align: justify;
  letter-spacing: 0.06em;

  color: #333333;
}

.contents-block {
  min-height: 600px;
}

.contents-table {
  margin: 0 auto;

  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 45px;

  letter-spacing: 0.06em;
}

.contents-item {

  td:first-child {
    width: 46px;
    text-align: center;
    padding-right: $contents-cols-margin;
  }

  td:last-child {
    padding-left: $contents-cols-margin;
  }

  .separator {
    width: 50px;
    background-image: url("../img/contents-line.svg");
    background-size: contain;
    background-position: 0 70%;
    background-repeat: no-repeat;
  }
}

.contents-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.article {

  padding: 0 128px;

  display: flex;
  flex-direction: column;

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    text-align: justify;
  }

  * {
    margin: $article-margin/2 0;
  }

  :first-child {
    margin: 0 auto $article-margin/2 auto;
  }

  :last-child {
    margin: $article-margin/2 auto 0 auto;
  }
}

%vector-first-letter {
  font-size: 180px;
  line-height: 100px;
  color: rgba(0, 0, 0, 0);

  padding: 0;
  margin: 10px 0 -10px -10px;
  float: left;

  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

#letter-1:first-letter {
  @extend %vector-first-letter;
  background-image: url("../img/vector-letter-1.svg");

}