$bckgrnd-clr: #FCF7E6;
$navmenu-bckgrnd-clr: #9D7818;
$footer-bckgrnd-clr: #333333;

$max-content-width: 1440px;
$block-item-margin: 82px;
$portrait-padding: 22px;
$portrait-padding-sm: 14px;
$contents-padding: 313px;
$contents-cols-margin: 14px;
$article-margin: 50px;
$article-margin-sm: 25px;
$navmenu-margin: 62px;
$navitem-margin: 10px;
$sponsor-margin: 68px;
$article-padding-sm: 25px;
$article-padding-md: 50px;
$article-padding-lg: 125px;


@font-face {
  font-family: "SchoolBook";
  src: url("../fonts/Schoolbook_Regular.ttf");
}

* {
  font-family: "SchoolBook", serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bckgrnd-clr;
}

.cover {
  width: 100%;
  height: 100vh;
  min-height: 400px;

  background-image: url("../img/monogram.svg"), url("../img/leather_bg.png");
  background-position: center, top;
  background-size: auto, cover;
  background-repeat: no-repeat, repeat-y;
  background-attachment: scroll, fixed;

  @media screen and (max-width: 480px) {
    background-image: url("../img/monogram-sm.png"), url("../img/leather_bg.png");
  }
}

.content {
  margin: 0 auto;
  padding-bottom: 100px;
  max-width: $max-content-width;
}

.block-wrapper {
  margin-top: 100px;
  padding: 0 50px;
  height: 100vh;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: opacity 1s;

  * {
    margin-top: $block-item-margin/2;
    margin-bottom: $block-item-margin/2;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.block-wrapper:first-child {
  margin-top: 0;
}

.block-visible {
  opacity: 1;
}

.title-block {
  min-height: 500px;
}

.vector-title {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  img {
    visibility: hidden;
    max-width: 100%;
  }

  @media screen and (max-width: 480px) {
    max-height: 20px;
  }
}

#contents-title {
  @media screen and (max-width: 480px) {
    max-height: 34px;
  }
}

.separator-sm {
  margin: 0 auto;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  background-image: url('../img/separator-sm.svg');

  @media screen and (max-width: 480px) {
    width: 142px;
    background-image: url('../img/separator-sm-sm.svg');
  }

  img {
    visibility: hidden;
    max-width: 100%;
  }
}

.preview-block {
  min-height: 800px;

  @media screen and (max-width: 1280px) {
    min-height: 1200px;
  }

  @media screen and (max-width: 768px) {
    min-height: 2000px;
  }

  @media screen and (max-width: 480px) {
    min-height: 500px;
  }
}

.portrait-wrapper {
  display: inline-block;

  padding: $portrait-padding;

  background-image: url("../img/portrait-border.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  img {
    max-width: 100%;
  }

  @media screen and (max-width: 480px) {
    padding: $portrait-padding-sm;

    img {
      width: 200px;
    }
  }
}

.preview-text {
  margin: 0;
  padding: 0 275px;

  @media screen and (max-width: 1280px) {
    padding: 0 125px;
  }

  @media screen and (max-width: 768px) {
    padding: 0 50px;
  }

  @media screen and (max-width: 480px) {
    padding: 0 10px;
    font-size: 12px;
    line-height: 20px;
  }

  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 40px;

  text-align: justify;
  letter-spacing: 0.06em;

  color: #333333;
}

.contents-block {
  min-height: 600px;

  margin-bottom: 100px;

  @media screen and (max-width: 480px) {
    height: 600px;
    padding: 0 25px;
  }
}

.contents-table {
  margin: 0 auto;

  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 45px;

  border-spacing: 10px;

  @media screen and (max-width: 480px) {
    font-size: 12px;
    line-height: 20px;
  }

  letter-spacing: 0.06em;
}

.contents-item {

  td:first-child {
    width: 46px;
    text-align: center;

    @media screen and (min-width: 480px) {
      padding-right: $contents-cols-margin;
    }

    @media screen and (max-width: 480px) {
      width: 25px;
    }

  }

  td:last-child {
    @media screen and (min-width: 480px) {
      padding-left: $contents-cols-margin;
    }
  }

  .separator {
    width: 50px;
    background-image: url("../img/contents-line.svg");
    background-size: contain;
    background-position: 0 70%;
    background-repeat: no-repeat;

    @media screen and (max-width: 768px) {
      @media screen and (min-width: 480px) {
        display: none;
      }
    }

    @media screen and (max-width: 480px) {
      width: 15px;
    }
  }
}

.contents-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.article {

  @media screen and (min-width: 769px) {
    padding: 100px $article-padding-lg 0 $article-padding-lg;
  }

  @media screen and (max-width: 768px) {
    padding: 100px $article-padding-md 0 $article-padding-md;
  }

  @media screen and (max-width: 480px) {
    padding: 100px $article-padding-sm 0 $article-padding-sm+7;
  }

  display: flex;
  flex-direction: column;

  .article-item,
  .article-two-items {
    margin: $article-margin/2 0;

    @media screen and (max-width: 480px) {
      margin: $article-margin-sm/2 0;
    }
  }

  .article-item:first-child,
  .article-two-items:first-child {
    margin: 0 auto $article-margin/2 auto;

    @media screen and (max-width: 480px) {
      margin: 0 auto $article-margin-sm/2 auto;
    }
  }

  .article-item:last-child,
  .article-two-items:last-child {
    margin: $article-margin/2 auto 0 auto;

    @media screen and (max-width: 480px) {
      margin: $article-margin-sm/2 auto 0 auto;
    }
  }
}

p {
  margin-top: 10px;
}

p:first-child {
  margin-top: 0px;
}

.primary-text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  text-align: justify;
  letter-spacing: 0.06em;

  @media screen and (max-width: 480px) {
    font-size: 12px;
    line-height: 15px;
  }
}

%vector-first-letter {
  color: rgba(0, 0, 0, 0);

  padding: 0;
  margin: 10px 20px -10px 0;
  float: left;

  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

#letter-1:first-letter {
  @extend %vector-first-letter;

  font-size: 275px;
  line-height: 200px;

  background-image: url("../img/article-1/vector-letter-1.svg");
}

#letter-1-sm:first-letter {
  @extend %vector-first-letter;

  font-size: 120px;
  line-height: 100px;

  margin: 5px 5px -10px 0;

  background-image: url("../img/article-1/vector-letter-1.svg");
}

#letter-2:first-letter {
  @extend %vector-first-letter;

  font-size: 275px;
  line-height: 215px;

  background-image: url("../img/article-2/vector-letter-2.svg");
}

#letter-2-sm:first-letter {
  @extend %vector-first-letter;

  font-size: 120px;
  line-height: 90px;

  margin: 5px 5px 0 0;

  background-image: url("../img/article-2/vector-letter-2.svg");
}


#letter-3:first-letter {
  @extend %vector-first-letter;

  font-size: 120px;
  line-height: 125px;

  @media screen and (max-width: 480px) {
    font-size: 110px;
    line-height: 110px;

    margin: 5px 5px 0 0;
  }

  background-image: url("../img/article-3/vector-letter-3.svg");
}

#letter-4:first-letter {
  @extend %vector-first-letter;

  font-size: 330px;
  line-height: 270px;

  background-image: url("../img/article-4/vector-letter-4.svg");
}


#letter-4-sm:first-letter {
  @extend %vector-first-letter;

  font-size: 120px;
  line-height: 90px;

  margin: 5px 5px 0 0;

  background-image: url("../img/article-4/vector-letter-4.svg");
}


#letter-5:first-letter {
  @extend %vector-first-letter;

  font-size: 320px;
  line-height: 300px;

  background-image: url("../img/article-5/vector-letter-5.svg");
}

#letter-5-sm:first-letter {
  @extend %vector-first-letter;

  font-size: 150px;
  line-height: 140px;

  margin: 5px 5px 0 0;

  background-image: url("../img/article-5/vector-letter-5.svg");
}

#letter-6:first-letter {
  @extend %vector-first-letter;

  font-size: 320px;
  line-height: 250px;
  margin-left: -40px;

  background-image: url("../img/article-6/vector-letter-6.svg");
}

#letter-6-sm:first-letter {
  @extend %vector-first-letter;

  font-size: 100px;
  line-height: 80px;

  margin: 5px 5px 0 -20px;

  background-image: url("../img/article-6/vector-letter-6.svg");
}


#letter-7:first-letter {
  @extend %vector-first-letter;

  font-size: 250px;
  line-height: 230px;

  background-image: url("../img/article-7/vector-letter-7.svg");
}

#letter-7-sm:first-letter {
  @extend %vector-first-letter;

  font-size: 80px;
  line-height: 80px;

  margin: 5px 5px 0 0;

  background-image: url("../img/article-7/vector-letter-7.svg");
}

.article-two-items {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1024px) {
    .portrait-wrapper {
      margin: 0 auto;
    }

    .portrait-item,
    .text-item {
      width: 100%;
    }

    .portrait-item {
      margin-bottom: 25px;

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media screen and (min-width: 1025px) {

    .portrait-item:first-child,
    .text-item:first-child {
      margin-right: 50px;
    }

    .portrait-item:last-child,
    .text-item:last-child {
      margin-left: 50px;
    }

    .text-item {
      flex: 2;
    }

    .portrait-item {
      flex: 1;
    }

    .portrait-wrapper {
      float: right;
    }
  }
}

.focused-text {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  text-align: justify;
  letter-spacing: 0.06em;

  @media screen and (max-width: 480px) {
    font-size: 18px;
    line-height: 20px;
  }
}

.article-image {
  width: 100%;
  height: auto;
}

.quote {
  font-style: italic;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;

  text-align: justify;
  letter-spacing: 0.06em;

  @media screen and (max-width: 480px) {
    font-size: 18px;
    line-height: 20px;
  }
}

.quote-author {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;

  text-align: right;
  letter-spacing: 0.06em;

  @media screen and (max-width: 480px) {
    font-size: 18px;
    line-height: 20px;
  }
}

.navmenu-wrapper {
  width: 100%;
  max-width: $max-content-width;
}

.navmenu {
  margin: 0 auto;
  padding: 50px 50px;

  color: white;
  background-color: $navmenu-bckgrnd-clr;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .navmenu-item {
    margin: $navmenu-margin/2 0;
  }

  .navmenu-item:first-child {
    margin-top: 0;
  }

  .navmenu-item:last-child {
    margin-bottom: 0;
  }

}

.navitems {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 850px) {
    flex-flow: column nowrap;
  }

  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.06em;

  .navitem-separator {
    width: 50px;
    height: 5px;
    background-image: url("../img/navitem-separator.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .navitem {
    margin: 0 $navitem-margin/2;

    @media screen and (max-width: 860px) {
      margin: $navitem-margin/2 0;
    }

    color: white;
    text-decoration: none;
  }

  a.navitem:hover {
    text-decoration: underline;
  }

  .navitem:first-child {
    margin-left: 0;
  }

  .navitem:last-child {
    display: inline-block;
    margin-right: 0;
  }
}

.footer-wrapper {
  background-color: $footer-bckgrnd-clr;
}

footer {
  padding: 100px $article-padding-lg;

  @media screen and (max-width: 768px) {
    padding: 100px $article-padding-md;
  }

  @media screen and (max-width: 480px) {
    padding: 100px $article-padding-sm;
  }

  margin: 0 auto;
  min-height: 400px;
  max-width: $max-content-width;

  color: white;
}

.footer-row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;

  @media screen and (max-width: 1280px) {
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 25px;

    .sponsor {
      width: 50%;
    }
  }
}

.sponsor {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;

  @media screen and (max-width: 1280px) {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
}

.primary-sponsor {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.footer-text {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 0.06em;
}

.sponsor-row {
  min-height: 150px;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: start;

  @media screen and (max-width: 1280px) {
    justify-content: center;
  }
}

.sponsor-link {
  @media screen and (max-width: 480px) {
    margin-top: 25px;
  }

  @media screen and (min-width: 480px) {
    margin: 0 $sponsor-margin/2;
  }
}

.sponsor-link:first-child {
  margin-left: 0;
}

.sponsor-link:last-child {
  margin-right: 0;
}

#psb {
  margin: -15px 0 -10px 0;
}


.d-sm-none {
  @media screen and (max-width: 480px) {
    display: none;
  }
}

.d-md-none {
  @media screen and (min-width: 480px) {
    display: none;
  }
}